.p40 {
  padding: 40px;
}
.designer-tag {
  background-color: #d6997a;
  padding: 0 15px;
  color: $text-accent;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px #ecf0fb;
}
.designerWork-img {
  width: 200px;
  height: 200px;
}
.designerWork-btn {
  width: 100px;
  border: 1px solid black;
}
.personInfo {
  box-shadow: inset 1px 2px 3px grey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.w-90 {
  width: 90%;
}
.desingerInfo {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
