.p40 {
  padding: 40px;
}
.designer-tag {
  background-color: #d6997a;
  padding: 0 15px;
  margin-right: 20px;
  color: $text-accent;
  border-radius: 2px;
}
.designerWork-img {
  width: 200px;
  height: 200px;
}
.designerWork-btn {
  width: 100px;
  border: 1px solid black;
}
