$text-primary: #7d7265;
$text-accent: rgba(255, 255, 255, 1);
$text-sm: 12px;
$bg-primary: rgba(205, 195, 183, 1);
$bg-accent: rgba(29, 61, 74, 1);
$font-family-en: 'Josefin Sans', sans-serif;
$font-family-tw: 'Noto Sans TC', sans-serif;

.text-main--hover {
  color: $text-primary !important;
  &:hover {
    color: $text-accent !important;
    background: $bg-primary !important;
    border-radius: 2px;
  }
}
.text-main {
  color: $text-primary !important;
}
.text-accent {
  color: $text-accent;
}
.font-en {
  font-family: $font-family-en;
}
.font-tw {
  font-family: cwTeXYen;
}
.bg-accent {
  background-color: $bg-accent;
}
.bg-main {
  background-color: $text-primary;
}
.nav-h {
  height: 100px !important;
}
.img-position--center {
  background-position: center center;
  background-size: cover;
  height: 50px;
  width: 112px;
  margin-left: 24px;
}
.list-style {
  list-style: none;
}
.letter-space {
  letter-spacing: 0.4em;
}
.border-bottom {
  border-bottom: 1px solid $bg-primary !important;
  &:hover {
    border-bottom: 2px solid $text-primary !important;
  }
}
.position-absolute {
  right: 0;
  bottom: 0;
}
.bordera {
  background-color: black;
  border: 1px solid white;
}

.line {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    left: 50%;
    background-color: $text-accent;
  }
}

// position
.item-logo-position-relative {
  position: relative;
}
.item-logo-position-absolute {
  position: absolute;
  bottom: -20%;
}

// 作品
.title-line {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    right: 58%;
    left: 0;
    height: 2px;
    top: 10px;
    background-color: $text-primary;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    left: 58%;
    height: 2px;
    top: 10px;
    background-color: $text-primary;
  }
}
.background-img {
  width: 180px;
  height: 180px;
  background-position: center center;
  background-size: cover;
}
.text-sm {
  font-size: $text-sm;
}
.footer-center {
  display: flex;
  justify-content: center;
  align-items: center;
  .footer-list {
    padding-right: 45px;
    padding-left: 5px;
    border-left: 1px solid $text-accent;
  }
}
