$text-reservation: #cb9861;
.text-reservation {
  .table,
  h4,
  h5 {
    color: $text-reservation !important;
  }
  td,
  span {
    color: $text-accent;
  }
}
.item-total {
  display: flex;
  justify-content: flex-end;
  .item-total-group {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $text-accent;
  }
}
.bg-reservation {
  background-color: $bg-primary;
  padding-bottom: 20px;
  color: $bg-accent;
  .title-line:after,
  .title-line:before {
    background-color: $bg-accent;
  }
}
.form-reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input {
  border: 0;
  width: 258px;
  margin-bottom: 5px;
  outline: 0;
}
.btn-reservation {
  width: 100px !important;
  background-color: $bg-accent;
  color: $text-accent;
  border: 0;
  &:hover {
    background-color: $text-primary;
  }
}
