.works-filter {
  border: 2px solid #d6997a;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  border-radius: 10px;
  padding: 30px;
  margin-top: 30px;
  label {
    width: 25%;
    margin-bottom: 0;
    padding: 4px;
    // color: #1d3d4a;
    // letter-spacing: 1px;
    // font-size: 20px;
  }
  input {
    width: 20%;
  }
  input[type='checkbox'] {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border: 1px solid #999;
    background-color: #fff;
    line-height: 16px;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
  }
  input[type='checkbox']:checked {
    color: rgb(20, 24, 73);
  }
  input[type='checkbox']:after {
    content: '✔';
  }
}
.works-text-line {
  color: #1d3d4a;
}
.search-btn {
  background-color: #fff;
  border: 2px solid gainsboro;
  border-radius: 5px;
  padding: 5px;
  &:hover {
    background-color: #d6997a;
    opacity: 0.7;
    color: white;
    transition: 0.3s;
  }
}
// hover test
.size {
  // border: 2px solid red !important;
  width: 300px;
  height: 300px;
  position: relative;
  padding: 10px;
  margin: 15px;
}
.img-size {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  &:hover + .imgbackground {
    transition: all 2s;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
  }
}
.imgbackground {
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.8;
  z-index: 50;
  display: none !important;
  position: absolute;
  top: 0;
  right: 0;
  .btn-primary {
    background-color: $bg-accent;
    border: 0;
  }
}
.works-center {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #f8f3ef;
}
.searchInput {
  width: 100% !important;
  border: 1px solid grey;
  opacity: 0.7;
  border-radius: 5px;
}
.img-center {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 30px;
}

// .works-btn {
//   transition: all 0.5s;
//   position: absolute;
//   top: 0;
//   left: 52px;
//   width: 180px;
//   height: 250px;
//   background-color: #d6997a;
//   opacity: 0;
//   line-height: 400px;
//   box-shadow: 1px 3px 3px;
//   &:hover {
//     opacity: 0.4;
//     & + .img-btn {
//       opacity: 1;
//     }
//   }
// }
.img-btn {
  transition: all 0.5s;
  position: absolute;
  bottom: 10px;
  background-color: black !important;
  color: #fff;
  left: 100px;
  border: none;
  padding: 5px;
  border-radius: 4px;
  opacity: 0;
  &:hover {
    opacity: 1;
    & + .works-btn {
      opacity: 1;
    }
  }
}

// itemTest
.itemimg {
  position: relative;
  display: block;
  background: #000000;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  img {
    position: relative;
    transition: all 0.5s;
    z-index: 1;
    will-change: transform;
    width: 100%;

    vertical-align: middle;
    border-style: none;
  }
  &:hover {
    img {
      opacity: 0.7;
      transform: scale(1.05);
    }
    .item-tittle {
      opacity: 1;
    }
  }
  &::before {
    position: absolute;
    content: '';
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border: 2px solid #ffffff;
    transition: all 0.5s;
    opacity: 0;
    z-index: 2;
  }
  &:hover::before {
    opacity: 1;
  }
}
.item-tittle {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  opacity: 0;
  z-index: 2;
}
