.works-filter {
  border: 2px solid #d6997a;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  border-radius: 10px;
  padding: 30px;
  margin-top: 30px;
  label {
    width: 25%;
    margin-bottom: 0;
    padding: 4px;
  }
  input[type='checkbox'] {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border: 1px solid rgb(197, 192, 192);
    background-color: #fff;
    line-height: 16px;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
  }
  input[type='checkbox']:checked {
    color: rgb(20, 24, 73);
  }
  input[type='checkbox']:after {
    content: '✔';
  }
}
@media (max-width: 768px) {
  .works-filter {
    width: 100%;
    label {
      width: 50%;
    }
    .pl-40 {
      padding-left: 40px;
    }
  }
}
.works-text-line {
  color: #1d3d4a;
}
.works-filter-search {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .works-filter-search {
    width: 100%;
    text-align: center;
  }
}
.searchInput {
  width: 80% !important;
  margin-bottom: 20px;
  border: 2px solid #cdc3b7;
  text-align: center;
  border-radius: 5px 0 0 5px;
  border-right: 0;
}
.search-btn {
  background-color: #fff;
  border: 2px solid #cdc3b7;
  border-radius: 0 5px 5px 0;
  transform: translateX(-2px);
  i {
    color: #7d7265;
  }
  &:hover {
    background-color: #d6997a;
    opacity: 0.7;
    transition: all 0.3s;
    i {
      color: white;
      transition: all 0.3s;
    }
  }
}

// hover test
.size {
  width: 300px;
  position: relative;
  padding: 10px;
}
.img-size {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  &:hover + .imgbackground {
    transition: all 2s;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
  }
}
.imgbackground {
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.8;
  z-index: 50;
  display: none !important;
  position: absolute;
  top: 0;
  right: 0;
  .btn-primary {
    background-color: $bg-accent;
    border: 0;
  }
}
.works-center {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  background: #f8f3ef;
  margin-top: 20px;
  padding-bottom: 20px;
}

.img-center {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 30px;
}

// itemTest
.itemimg {
  position: relative;
  display: block;
  background: #000000;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  width: auto;
  height: 100%;
  img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.5s;
    z-index: 1;
    will-change: transform;
    border-style: none;
  }
  &:hover {
    img {
      opacity: 0.7;
      transform: scale(1.05);
    }
    .item-tittle {
      opacity: 1;
    }
    .seemore {
      opacity: 1;
    }
  }
  &::before {
    position: absolute;
    content: '';
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border: 2px solid #ffffff;
    transition: all 0.5s;
    opacity: 0;
    z-index: 2;
  }
  &:hover::before {
    opacity: 1;
  }
}
.item-tittle {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  opacity: 0;
  z-index: 2;
}
